body {
  width: max-content;
  margin: 0;
  font-size: 1rem;
}

img{
  width: 20%;
}

.popup-title {
  font-weight: 900;
  background-color: rgb(0, 102, 255);
  color: white;
  width: 100%;
  padding: 5px;
}

.popup-content {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
}
